/* moved all to scss */

#mapid {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Noto Sans", sans-serif;
    text-align: center;
    font-size: 300%;
    font-weight: 300;
}

input[type=checkbox],
input[type=radio] {
    position: absolute;
    opacity: 0;
}

input[type=checkbox] + label,
input[type=radio] + label {
    display: inline-block;
}

input[type=checkbox] + label:before,
input[type=radio] + label:before {
    content: "";
    display: inline-block;
    vertical-align: -0.2em;
    width: 1em;
    height: 1em;
    border: 0.15em solid #0074d9;
    border-radius: 0.2em;
    margin-right: 0.3em;
    background-color: white;
}

input[type=radio] + label:before {
    border-radius: 50%;
}

input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    background-color: #0074d9;
    box-shadow: inset 0 0 0 0.15em white;
}

input[type=radio]:focus + label:before,
input[type=checkbox]:focus + label:before {
    outline: 0;
}


/*.btn {
  font-size: 140%;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 0;
  background-color: #16214D;
  color: white;
}
.btn:hover {
  background-color: #44C7F4;
}
.btn:focus {
  outline: none !important;
}*/


/*.btn.btn-lg {
  padding: 20px 30px;
}*/
.beaconDescription{
  font-weight: 700;
}

.btn:disabled {
    background-color: #333;
    color: #666;
}

h1,
h2,
h3 {
    font-weight: 100;
}

#logo img {
    width: 300px;
    margin-bottom: 60px;
}

.home-description {
    font-weight: 100;
    margin: 100px 0;
}

h2 {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 200%;
}

label {
    font-size: 100%;
    font-weight: 300;
}

.btn-next {
    margin-top: 30px;
}

.answer {
    width: 70%;
    margin: auto;
    text-align: left;
    padding-left: 10%;
    margin-bottom: 20px;
}

.login-page .login-box {
    padding: 100px 0;
}

.leaflet-tile {
    border: none !important;
}


/*#currentBeaconInfo {
    text-align: left;
}*/

#whaleImg {
    margin: 0 auto;
}

.btn:hover {
    cursor: pointer;
}

.avatar {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

.tab-content > div > fieldset {
    padding-top: 5px;
}

#beaconData-image {
    width: 100px;
    height: 100px;
    border-radius: 4px;
}

#mapData {
    font-size: 16px;
}

#mapContainer {
    margin: 0 auto;
    width: 100%;
    height: 500px;
}

fieldset input {
    border: 1px solid #16214D;
    border-radius: 2px 2px 2px 2px
}


/* noto-sans-regular - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans'), local('NotoSans'),
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-regular.svg#NotoSans') format('svg'); /* Legacy iOS */
}
/* noto-sans-700 - latin */
@font-face {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Noto Sans Bold'), local('NotoSans-Bold'),
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/noto-sans-v6-latin/noto-sans-v6-latin-700.svg#NotoSans') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
